{{ "<!-- Blog Section -->" | safeHTML }}
<section id="blog">
    <div class="container extra-padding">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading">Our thoughts, feedback and insights on entrepreneurship, venture capital and more. This is where we think out LOUD.</h3>
                <div class="break"></div>
                <div class="flexContainer">
                    {{ if gt (len (where .Data.Pages "Params.type" "blog")) 0 }}
                        {{ range first 2 .Pages.ByPublishDate }}
                            {{ partial "big-li.html" . }}
                        {{ end }}
                    {{end}}
                </div>
                <div class="flexContainer">
                    {{ if gt (len (where .Data.Pages "Params.type" "blog")) 2 }}
                        {{ range first 3 (after 2 (.Pages.ByPublishDate)) }}
                            {{ partial "small-li.html" . }}
                        {{ end }}
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</section>
