{{ "<!-- Hero -->" | safeHTML }}
<header>
  <!--Div to house the background-->
  <!--<div class="banner-bg"></div>-->
  <ul class="kf-slider">
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="intro-text">
    <div class="intro-logo"><img src="img/logo.png" class="img-responsive"></div>
    <div class="intro-lead-in">Entrepreneurship. Amplified.</div>
    <!--<div class="scroll-arrow"><a class="page-scroll" href="{{ .Site.BaseURL }}#about"><i class="fa fa-angle-down fa-5x"></i></a></div>-->
  </div>
  {{ partial "nav.html" . }}
</header>
