{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.portfolio.title }}{{ . | markdownify }}{{ end }}</h2>
        <div class="break"></div>
        <h3 class="section-subheading text-muted">Even though we love Columbus and call it our home, we've invested in dozens of companies around the world. Here are just a few that we believe in, have invested, and are part of the LOUD family.</h3>
        <div class="break"></div>
      </div>
    </div>
    <div class="img-container">
      {{ range $i, $sequence := (seq 12) }}
      <div class="img-box">
      </div>
      {{end}}
      </div>
    </div>
    <!--<div class="row">

      {{ range .Site.Data.projects }}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="#portfolioModal{{ .modalID }}" class="portfolio-link" data-toggle="modal">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fa fa-plus fa-3x"></i>
              </div>
            </div>
            {{ $url := printf "img/portfolio/%s" .preview }}
            <img src="{{ $url | absURL }}" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>{{ .title | markdownify }}</h4>
            <p class="text-muted">{{ .category | markdownify }}</p>
          </div>
        </div>
      {{ end }}

    </div>-->
  </div>
</section>
