{{ "<!-- About Section -->" | safeHTML }}
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading" style="color: white"> LOUD enables investors to harness successful commercial real estate investments with dynamic capital funds for mutual success.</h3>
        <div class="break" style="border-top: 1px solid white"></div>
        <div class="flexContainerAbout">
          <div class="flexContainerItem">
            <div class="flexContainerSub">
              $10MM
              <p class="subtext">Fund Value</p>
            </div>
          </div>
          <div class="flexContainerItem">
            <div class="flexContainerSub">
              12
              <p class="subtext">Properties</p>
            </div>
          </div>
          <div class="flexContainerItem">
            <div class="flexContainerSub">
              30
              <p class="subtext">Years Experience</p>
            </div>
          </div>
          <div class="flexContainerItem">
            <div class="flexContainerSub">
              4
              <p class="subtext">Industries</p>
            </div>
          </div>
          <div class="flexContainerItem">
            <div class="flexContainerSub">
              $36MM
              <p class="subtext">Investment Experience</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row">
      <div class="col-lg-12">
        <ul class="timeline">

          {{ range $i, $e := .Site.Params.about.events }}
            <li {{ if (not (modBool $i 2)) }}class="timeline-inverted" {{ end }}>
              <div class="timeline-image">
                {{ $url := printf "img/about/%s" .img }}
                <img class="img-circle img-responsive" src="{{ $url | absURL }}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ .date }}</h4>
                  <h4 class="subheading">{{ .title | markdownify }}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{ .description  | markdownify }}</p>
                </div>
              </div>
            </li>
          {{ end }}

          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>{{ with .Site.Params.about.endpoint }}{{ . | markdownify }}{{ end }}</h4>
            </div>
          </li>
        </ul>
      </div>-->
    <!--</div>-->
  </div>
</section>
