<nav class="nav-parent navbar navbar-default navbar-fixed-top ">
  <div class="container nav-child">
    <ul class="nav navbar-nav">
      <li class="inline">
        <a class="page-scroll" href="{{ .Site.BaseURL }}">Loud Capital</a>
      </li>
    </ul>
    <ul class="nav navbar-nav media-icons">
      <li class="social-media inline">
        <a href="https://twitter.com/LOUDCapital" target="_blank"><i class="fa fa-twitter fa-fw fa-2x page-scroll"></i></a>
      </li>
      <li class="social-media inline">
        <a href="https://www.facebook.com/LOUDCap" target="_blank"><i class="fa fa-facebook fa-fw fa-2x page-scroll"></i></a>
      </li>
      <li class="social-media inline">
        <a class="ip" href="https://www.instagram.com/loudcapital/" target="_blank"><i class="fa fa-instagram fa-fw fa-2x page-scroll"></i></a>
      </li>
    </ul>
  </div>
</nav>