{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">LOUD has a diverse portfolio of Real Estate investment, articulating our drive to continually improve our communities.</h3>
        <div class="break"></div>
      </div>
    </div>
    <div class="rs-img-container">
      {{ range $i, $sequence := (seq 7) }}
      <div class="rs-img-box">
      </div>
      {{end}}
      </div>
    </div>
  </div>
</section>
