{{ "<!-- Team Section -->" | safeHTML }}
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Headed by Anish Shah, the Buckeye Hotel Guy, LOUD is ready to take your team to new decibels.</h3>
        <div class="break"></div>
      </div>
    </div>
    <div class="flexContainer" style="justify-content: center">
      <div class="flexbox" style="max-height: 600px; max-width: 375px; min-width: 300px;">
          <div class="view view-first">  
            <img class="img-responsive" src="../img/team/anish.png" style="width: 100%">
            <div class="mask">
              <div class="bottom-bar">
                <div class="headerContainer">
                  <h2>Anish</h2>
                  <h2 style="color: #d85e00">Shah</h2>
                </div>
                <div class="mediaContainer">
                    <a href="https://www.linkedin.com/in/anish-shah-cha-a2754358/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </div>
              </div>
              <div class="content">
                <p>Anish, also known as the Buckeye Real Estate Guy, is a graduate of Ohio State himself. Since graduating, he has worked with State Farm and e-Merge, and is an active community member in professional endeavours with World Trade Network, American Hotel Association, Columbus OH Board of Realtors, and many more. To date, he has made many profitable investments in realestate, deploying over $36MM in capital. Drop him a line below.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
