{{ "<!-- Team Section -->" | safeHTML }}
<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.team.title }}{{ . | markdownify }}{{ end }}</h2>
        <div class="break"></div>
        <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.team.subtitle }}{{ . | markdownify }}{{ end }}</h3>
        <div class="break"></div>
      </div>
    </div>
    <div class="flexContainer" style="justify-content: center">
      <div class="flexbox" style="max-height: 600px; max-width: 24vw;">
          <div class="view view-first">  
            <img class="img-responsive" src="img/team/darshan.png">
            <div class="mask">
              <div class="bottom-bar">
                <div class="headerContainer">
                  <h2>Darshan</h2>
                  <h2 style="color: dodgerblue">Vyas</h2>
                </div>
                <div class="mediaContainer">
                    <a href="https://twitter.com/LOUDCapital" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/darshan-vyas-02316426/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </div>
              </div>
              <div class="content">
                <p>Darshan is an investor and experienced entrepreneur with several successful ventures under his belt within the Healthcare industry. His greatest strength has been able to bring resources together to solve a problem or monetize on opportunities. As a co-founder of Loud Capital, Darshan's mission is to bring more resources locally to help amplify the great talent and opportunities located within Columbus, OH. Darshan is a Husband, Father, entrepreneur, and has a passion about creating a positive impact in Columbus. </p>
              </div>
          </div>
        </div>
      </div>
      <div class="flexbox" style="max-height: 600px; max-width: 24vw;">
          <div class="view view-first">  
            <img class="img-responsive" src="img/team/david.png">  
            <div class="mask">
              <div class="bottom-bar">
                <div class="headerContainer">
                  <h2>David</h2>
                  <h2 style="color: dodgerblue">Hunegnaw</h2>
                </div>
                <div class="mediaContainer">
                    <a href="https://twitter.com/LOUDCapital" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/darshan-vyas-02316426/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </div>
              </div>
              <div class="content">
                <p>David is a 3X startup founder, happy-husband, pet-loving, friend and mentor that has a passion for design and loves a cold martini after a good day of work.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="flexbox" style="max-height: 600px; max-width: 24vw;">
          <div class="view view-first">  
            <img class="img-responsive" src="img/team/navin.png">  
            <div class="mask">
              <div class="bottom-bar">
                <div class="headerContainer">
                  <h2>Navin</h2>
                  <h2 style="color: dodgerblue">Goyal</h2>
                </div>
                <div class="mediaContainer">
                    <a href="https://twitter.com/LOUDCapital" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/darshan-vyas-02316426/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </div>
              </div>
              <div class="content">
                <p>Navin is an anesthesiologist who has been practicing for over 10 years in a large hospital and ambulatory based practice.  He is co-founder of SmileMD, a mobile anesthesia company that is providing more access to care as well as the co-founder of Loud Capital.  He brings his leadership abilities with optimism, passion, and is always seeking opportunities with win-win scenarios.  His family, his yoga, and his outlook on life is what amplifies him.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="flexbox" style="max-height: 600px; max-width: 24vw;">
          <div class="view view-first">  
            <img class="img-responsive" src="img/team/sriram.png">  
            <div class="mask">
              <div class="bottom-bar">
                <div class="headerContainer">
                  <h2>Sriram</h2>
                  <h2 style="color: dodgerblue">Durvasula</h2>
                </div>
                <div class="mediaContainer">
                    <a href="https://twitter.com/LOUDCapital" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/darshan-vyas-02316426/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </div>
              </div>
              <div class="content">
                <p>Sriram is an entrepreneur who loves innovation, leadership, and service. Also, if a book has changed your life, please recommend it to him.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="flexbox" style="max-height: 600px; max-width: 24vw;">
          <div class="view view-first">
            <img class="img-responsive" src="img/team/todd.png">
            <div class="wrap"></div>
            <div class="mask">
              <div class="bottom-bar">
                <div class="headerContainer">
                  <h2>Todd</h2>
                  <h2 style="color: dodgerblue">Whittington</h2>
                </div>
                <div class="mediaContainer">
                    <a href="https://twitter.com/LOUDCapital" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/darshan-vyas-02316426/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </div>
              </div>
              <div class="content">
                <p>Todd is the CEO of Rekovo, a Columbus-based healthcare startup focused on improving physical therapy outcomes using art as a mechanism to helping patients move more. In addition to his leadership position at Rekovo, Todd is an active investor, advisor, and mentor to a number of Columbus-based technology startups.</p>
              </div>
          </div>
        </div>
      </div>
      <div class="flexbox" style="max-height: 600px; max-width: 24vw;">
          <div class="view view-first">
            <img class="img-responsive" src="img/team/ryan.png">
            <div class="wrap"></div>
            <div class="mask">
              <div class="bottom-bar">
                <div class="headerContainer">
                  <h2>Ryan</h2>
                  <h2 style="color: dodgerblue">Retcher</h2>
                </div>
                <div class="mediaContainer">
                    <a href="https://twitter.com/LOUDCapital" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/darshan-vyas-02316426/" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
                </div>
              </div>
              <div class="content">
                <p>As the founder of Accelerate Ventures, Ryan has channeled his passion and experience to serve entrepreneurs and executives by helping them realize their individual and business purpose. He is a student of the successes, failures, mindsets, processes, barriers and "luck" required to grow. Ryan is an "implementor" with a unique ability to add value to be a "Super Utility Player" for an organizational by creatively translating vision and potential into result driven solutions. He is a passionate Husband to his Wife of 14 years, Father of two amazing kids, a lifelong Cubs fan and servant of causes and faith based organizations around Columbus.</p>
              </div>
          </div>
        </div>
      </div>
      <!--{{ range .Site.Params.team.members }}
        <div class="col-sm-4 col">
          <div class="team-member">
            {{ $url := printf "img/team/%s" .img }}
            <img src="{{ $url | absURL }}" class="img-responsive img-circle" alt="{{ .name }}">
            <h3>{{ .name | markdownify }}</h3>

            {{ with .position }}
            <h4>{{ . | markdownify }}</h4>
            {{ end }}
            {{ with .reportsTo }}
            <h5 class="report">Reports to {{ . | markdownify }}</h5>
            {{ end }}

            {{ with .livesIn }}
            <h5>Lives in {{ . | markdownify }}</h5>
            {{ end }}

            {{ with .scope }}
            <ul>
              {{ range . }}
                <li>{{ . | markdownify }}</li>
              {{ end }}
            </ul>
            {{ end }}

            <ul class="list-inline social-buttons">
              {{ range .social }}
                <li><a href="{{ index . 1 }}"><i class="fa {{ index . 0 }}"></i></a></li>
              {{ end }}
            </ul>

            {{ with .bio }}
            <p class="team-bio">{{ . | markdownify }}</p>
            {{ end }}

          </div>
        </div>
      {{ end }}-->
    </div>
  </div>
</section>
